html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
}