html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: auto 1fr;

}

.sidebar {
  display: grid;
  grid-template-rows: auto 1fr;
  background: #001529;
  height: 100vh;
  
}

.sidebarBrand {
  background: #002140;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
}

.menu {
  display: grid;
  padding: 1rem;
  align-content: start;
}

.menu > a {
  padding: 0.5rem;
  color: gainsboro;
  text-decoration: none;
}

.content {
  display: grid;
  padding: 2rem;
}

.contentHeader {
  margin: 1rem 0;
}

.toppingsTableContainer {
  /* border: 1px solid red; */
}

.toppingsTable {
  /* border: 1px solid blue; */
  width: 100%;
  text-align: left;
}

.toppingsTable > thead {
  font-size: 1.3rem;
}

.toppingsTable > tbody {
  font-size: 1.2rem;
  vertical-align: bottom;
}

.toppingsTable img {
  width: 3rem;
}

.formItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}
